.initial{
  font-family: 'Poppins', sans-serif;

  background: #181824;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5%;

  .textInitial {
    color: #fff;
  width: 60%;

  }
  
  .imgInitial {
    background-color: #7562E0;
    width: 25%;
    border-radius: 50%;
  }

  .btnAbout {
    color: #fff;
    border-color: #fff;
    &:hover {
      color: #7562e0;
      border-color: #7562E0;
    }
  }
  .btnProjects {
    color: #fff;
    background-color: #7562E0;
    border-color: #7562E0;
    &:hover {
      color: #7562e0;
      background-color: #fff;
      border-color: #fff;
    }
  }

  .icon{
    width: 1rem;
    margin-left: 0.1rem;
  }
}