:root {
  --lightColor: #f5f5f5;
  --lowPriority: #eeee;
  --primaryColor: #00adb5;
  --secundaryColor: #393e46;
  --darkColor: #222831;
}

.initial {
  font-family: 'Poppins', sans-serif;

  background: var(--darkColor);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5%;

  h1 {
    color: var(--primaryColor);
  } 
  .textInitial {
    color: white;
    width: 60%;
    font-weight: 300;
    text-align: justify;
  }

  .imgInitial {
    background-color: var(--primaryColor);
    width: 25%;
    border-radius: 50%;
  }

  .btnAbout {
    color: white;
    border-color: white;
    margin: 0.5rem;
    &:hover {
      color: var(--primaryColor);
      border-color: var(--primaryColor);
    }
  }
  .btnProjects {
    color: white;
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
    margin: 0.5rem;

    &:hover {
      color: var(--primaryColor);
      background-color: #fff;
      border-color: #fff;
    }
  }

  .icon {
    width: 1rem;
    margin-left: 0.1rem;
  }
}

@media (max-width: 440px) {
  .initial{
    flex-direction: column-reverse;

    .textInitial {
      width: 100%;
    }

    .imgInitial {
      width: 40%;
    }

  }
  
  
}