.footer {
  background-color: var(--secundaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;

  .textFooter {
    margin-top: 1rem;
    color: white;
  }

  .nameFooter {
    margin-top: 1rem;
    color: var(--primaryColor);
  }
}
