.cardProjects {
  background-color: var(--secundaryColor);
  border-color: var(--primaryColor);
  margin: 1rem;
  max-width: 300px;


  .title {
    color: var(--primaryColor);
    // font-weight: bold;
  }

  .text {
    color: white;
  }

  .btnDeploy {
    color: white;
    border-color: white;
    margin: 0.5rem;
    &:hover {
      color: var(--primaryColor);
      border-color: var(--primaryColor);
    }
  }

  .btnRepository {
    color: white;
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
    margin: 0.5rem;
    &:hover {
      color: var(--primaryColor);
      background-color: #fff;
      border-color: #fff;
    }
  }
}

.cardProjects:hover {
  transform: scale(1.03);
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}