.cardProjects {
  background-color: var(--secundaryColor);
  border-color: var(--primaryColor);
  margin: 1rem;

  .title {
    color: var(--primaryColor);
    // font-weight: bold;
  }

  .text {
    color: white;
  }

  .btnDeploy {
    color: white;
    border-color: white;
    margin: 0.5rem;
    &:hover {
      color: var(--primaryColor);
      border-color: var(--primaryColor);
    }
  }

  .btnRepository {
    color: white;
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
    margin: 0.5rem;
    &:hover {
      color: #7562e0;
      background-color: #fff;
      border-color: #fff;
    }
  }
}
