.navbar {
  font-family: 'Poppins', sans-serif;

  background: var(--darkColor);
  display: flex;
  border-bottom: 1px solid var(--primaryColor);

  .title {
    color: var(--primaryColor);
  }
  .navLink {
    color: #ffffff;
    &:hover {
      color: var(--primaryColor);
    }
  }
}
