.card {
  height: 10rem;
    width: 10rem;
    background-color: var(--secundaryColor);
    display: flex;
    margin: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  .cardTitle {
    color: white;

  }

  .cardIcon {
    height: 4rem;
  }
}
